AIRFLOW_UID=

FERNET_KEY===

_AIRFLOW_WWW_USER_USERNAME=
_AIRFLOW_WWW_USER_PASSWORD=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
DATA_DIR=

CUSTOMERS_CSV=customers_raw.csv
TRANSACTIONS_CSV=transactions_raw.csv
CLEAN_CUSTOMERS_CSV=clean_customers_raw.csv
CLEAN_TRANSACTIONS_CSV=clean_transactions_raw.csv