# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/
.env
# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# IDE and editor settings
.vscode/
.idea/

# Logs and temporary files
*.log
.pytest_cache/

# OS files
.DS_Store
Thumbs.db
scripts/data/
data/